@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Please use it carefully. Note that one change possibly harms our system.<br />
    If you don't know how to use, please contact admin, just do not try to make any changes. 
</p>
