<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="admin" />
            <allow roles="user" />
        </authorization>
    </system.web>
  <!--<location path="WebForm1.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="Preparation.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, superadmin, user, Employee, Organization"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="term-condition-master.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, superadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="privacy-policy-master.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, superadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="aboutus-master.aspx">
    <system.web>
      <authorization>
        <allow roles="admin, superadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>