/* ----------------------------------------------------------------------------------------------------------------------------

    print.css

    Author: Greg Dalrymple
    Created Date: Oct 2011

    +top

---------------------------------------------------------------------------------------------------------------------------- */

#activity-bar,
#subnav,
.search-area,
.component-CurrentlyRecruiting,
#nav,
#ad,
#logo h1,
#logo .main-heading,
.standard-button,
.advert,
#footer,
#inm-strip,
form,
input,
select,
textarea,
img.gradient,
.simple-tabs,
.col.span-3,
.pager,
img#sticker,
#brochure-sky-module { display: none; }

/* Set default options for printing */
* { margin: 0; padding: 0; behavior: none !important; filter: none !important; background-image: none !important; }
body { font-family: arial, sans-serif; font-size: 12pt; line-height: 16pt; width: 100%; }
#content { padding: 10px 0; }
a { color: #888; text-decoration: none; }
img { border: none; }
.clear-floats { clear: both; font-size: 1px; height: 1px; line-height: 0px; }

p, ol, ul, dl, table { font-size: 10pt; }

table { margin-bottom: 15px; border: 1px solid #ccc; width: 100%; border-collapse: collapse; }
table td { padding: 5px 10px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
table th { padding: 5px 10px; text-align: left; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }

ul li { margin-left: 15pt; }

dl { margin-bottom: 15px; }
dl dt { font-weight: bold; }
dl dd { color: #888; margin-left: 15px; margin-bottom: 10px;  }

h1 { font-size: 24pt; margin-bottom: 10pt; line-height: 30pt; }
h2 { font-size: 18pt; margin-bottom: 11pt; line-height: 28pt; color: #099; }
h3 { font-size: 14pt; margin-bottom: 14pt; line-height: 20pt; }
h4 { font-size: 12pt; margin-bottom: 18pt; line-height: 18pt; }

/* Brochure ---------------------------------------------------------------------------------------------------------- */
#brochure-nav,
#brochure #main-actions,
#brochure #apply,
#brochure #additional,
#brochure #recruiter #recruiter-details ul#recruiter-actions { display: none; }

#brochure #main #main-details h1 { font-size: 20pt; }

.apply-group ul li { float: left; margin-right: 16pt; }

#brochure #recruiter { border-bottom: 1px solid #cecece; margin-bottom: 15px; padding: 15px; width: 100%; display: none; }

#brochure #recruiter-print { border-top: 1px solid #cecece; margin-bottom: 15px; padding: 15px; width: 100%; display: block; margin-top: 10pt; }
#brochure #recruiter-logo-print { float:left; padding-right: 30pt; width: 16%; }
#brochure #recruiter-details-print { display: table-cell; }
#brochure #recruiter-details-print h2 { font-size: 12pt; margin-bottom: 0pt; }
#brochure #recruiter-details-print ul { list-style: none; }
#brochure #recruiter-details-print ul li { margin-left: 0pt; float: left; }

#brochure #details {  }
#brochure #job-summary { background: #eee; float: left; width: 35%; border-right: 1px solid #cecece; border-bottom: 1px solid #cecece; margin-right: 20pt; margin-bottom: 20pt;  }
#brochure #details .description { border: none; padding: 10pt; padding-top: 0pt; }

#job-summary h3 { color: #097C7C; }

#brochure #recruiter .logo { width: 200px; float: right; }
#brochure #main-details,
#brochure #summary { padding-bottom: 15px; border-bottom: 1px solid #ccc; margin-bottom: 15px; }
#brochure #main-details h2 { margin: 0; font-size: 16pt; }
#brochure #main-details ul.dates { color: #888; margin-bottom: 10px;  }
#brochure span.ref { font-size: 11pt; color: #dd2a1a; margin-left: 30pt; padding-top: 7pt; }

/* Results ---------------------------------------------------------------------------------------------------------- */
#results .search-options,
#results #featured-jobs,
#results ul.actions { display: none; }


#results .logo { width: 200px; height: 150px; float: right; }
#results a { color: #099; }
#results h2 { margin-bottom: 0; }