<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>-->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <!--<add name="ApplicationServices" connectionString="Data Source=123.30.187.4;Initial Catalog=nipfbczj_teachinvietnam;Persist Security Info=True;User ID=nipfbczj_quyennguyen;Password=QuyenQuyen@"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=teachinvietnam.org;Initial Catalog=tmtuan_TeachinVietnam;Persist Security Info=True;User ID=tmtuan_TeachinVietnam;Password=vuthanhluan"
      providerName="System.Data.SqlClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=teachingjob;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="BusinessLogic.Properties.Settings.TeachingJobConnectionString"
          connectionString="Data Source=.;Initial Catalog=teachingjob;Persist Security Info=True;User ID=sa;Password=123456"
          providerName="System.Data.SqlClient" />
    <add name="BusinessLogic.Properties.Settings.TeachingJobConnectionString1"
      connectionString="Data Source=.;Initial Catalog=teachingjob;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="DataAccess.Properties.Settings.TeachingJobConnectionString"
            connectionString="Data Source=.;Initial Catalog=teachingjob;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />-->
    <add name="ApplicationServices" connectionString="Data Source=AsusG\SQLEXPRESS2008R2;Initial Catalog=TeachingJob;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="BusinessLogic.Properties.Settings.TeachingJobConnectionString" connectionString="Data Source=AsusG\SQLEXPRESS2008R2;Initial Catalog=TeachingJob;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="BusinessLogic.Properties.Settings.TeachingJobConnectionString1" connectionString="Data Source=AsusG\SQLEXPRESS2008R2;Initial Catalog=TeachingJob;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="BusinessLogic.Properties.Settings.TeachingJobConnectionString2" connectionString="Data Source=AsusG\SQLEXPRESS2008R2;Initial Catalog=TeachingJob;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
    <add name="DataAccess.Properties.Settings.TeachingJobConnectionString" connectionString="Data Source=AsusG\SQLEXPRESS2008R2;Initial Catalog=TeachingJob;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DaySend" value="" />
    <add key="HourSend" value="23" />
    <add key="PathApp" value="" />
    <add key="DefaultInternshipId" value="17" />
    <add key="DefaultServiceId" value="1" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <!--<httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/memberArea/directive.aspx" timeout="2800" />
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="1200" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <anonymousIdentification enabled="true" />
    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
      <properties>
        <group name="Employer">
          <add name="Salutation" type="string" allowAnonymous="true" />
          <add name="FirstName" type="string" allowAnonymous="true" />
          <add name="MiddleName" type="string" allowAnonymous="true" />
          <add name="LastName" type="string" allowAnonymous="true" />
          <add name="Phone" type="string" allowAnonymous="true" />
          <add name="PersonalImage" type="string" allowAnonymous="true" defaultValue="" />
        </group>
        <group name="Organization">
          <add name="OrganizationName" type="string" allowAnonymous="false" />
          <add name="Logo" type="string" allowAnonymous="false" defaultValue="" />
          <add name="Website" type="string" allowAnonymous="false" />
          <add name="OrganizationType" type="string" allowAnonymous="false" />
          <add name="SchoolType" type="string" allowAnonymous="false" />
          <add name="BriefInfo" type="string" allowAnonymous="false" />
          <add name="Address1" type="string" allowAnonymous="false" />
          <add name="FaxNumber" type="string" allowAnonymous="false" />
          <add name="PhoneNumber1" type="string" allowAnonymous="false" />
          <add name="City" type="string" allowAnonymous="false" />
          <add name="Country" type="string" allowAnonymous="false" />
          <add name="ZipCode" type="string" allowAnonymous="false" />
        </group>
        <group name="Employee">
          <add name="FirstName" type="string" allowAnonymous="true" />
          <add name="LastName" type="string" allowAnonymous="true" />
          <add name="Email" type="string" allowAnonymous="true" />
          <add name="DateOfBirth" type="System.DateTime" allowAnonymous="true" serializeAs="String" />
          <add name="PresentLocation" type="string" allowAnonymous="true" />
          <add name="Gender" type="string" allowAnonymous="true" />
          <add name="Phone" type="string" allowAnonymous="true" />
          <add name="Citizenship" type="string" allowAnonymous="true" />
          <add name="Avatar" type="string" allowAnonymous="true" />
          <add name="AllowCreateCV" type="System.Boolean" defaultValue="True" serializeAs="String" />
          <add name="IsRegisterIntership" type="System.Boolean" defaultValue="False" serializeAs="String" />
        </group>
        <group name="CV">
          <add name="EduLevel" type="string" allowAnonymous="true" />
          <add name="Major" type="string" allowAnonymous="true" />
          <add name="Language" type="string" allowAnonymous="true" />
          <add name="Language_lvl" type="string" allowAnonymous="true" />
          <add name="Language2" type="string" allowAnonymous="true" />
          <add name="Language2_lvl" type="string" allowAnonymous="true" />
          <add name="Language3" type="string" allowAnonymous="true" />
          <add name="Language3_lvl" type="string" allowAnonymous="true" />
          <add name="YearsofExperience" type="string" allowAnonymous="true" />
          <add name="RelatedExperience" type="string" allowAnonymous="true" />
          <add name="MostRecentPosition" type="string" allowAnonymous="true" />
          <add name="CurrentJobLevel" type="string" allowAnonymous="true" />
          <add name="Achievements" type="string" allowAnonymous="true" />
          <add name="SkillsInterests" type="string" allowAnonymous="true" />
          <add name="Memberships" type="string" allowAnonymous="true" />
          <add name="DesiredEmployment" type="string" allowAnonymous="true" />
          <add name="DesiredEmployment2" type="string" allowAnonymous="true" />
          <add name="DesiredEmployment3" type="string" allowAnonymous="true" />
          <add name="DesiredJobLevel" type="string" allowAnonymous="true" />
          <add name="DesiredLocations" type="string" allowAnonymous="true" />
          <add name="DesiredLocations2" type="string" allowAnonymous="true" />
          <add name="DesiredLocations3" type="string" allowAnonymous="true" />
          <add name="EmploymentType" type="string" allowAnonymous="true" />
          <add name="SalaryType" type="System.Boolean" allowAnonymous="true" defaultValue="False" serializeAs="String" />
          <!--false to negotialbe-->
          <add name="SalaryFrom" type="decimal" allowAnonymous="true" serializeAs="String" defaultValue="" />
          <add name="SalaryTo" type="decimal" allowAnonymous="true" serializeAs="String" defaultValue="" />
          <add name="SalaryCurrency" type="string" allowAnonymous="true" />
          <add name="SalaryPaidType" type="string" allowAnonymous="true" />
          <add name="DesiredTravel" type="string" allowAnonymous="true" />
          <add name="CurrentResidence" type="string" allowAnonymous="true" />
          <add name="WillingToRelocate" type="string" allowAnonymous="true" />
          <add name="HowSoonToWork" type="string" allowAnonymous="true" />
          <add name="PersonalStatement" type="string" allowAnonymous="true" />
          <add name="Searchable" type="System.Boolean" allowAnonymous="true" defaultValue="False" serializeAs="String" />
          <add name="DisplayEmail" type="System.Boolean" allowAnonymous="true" defaultValue="False" serializeAs="String" />
          <add name="DisplayAddress" type="System.Boolean" allowAnonymous="true" defaultValue="True" serializeAs="String" />
          <add name="DisplayPhone" type="System.Boolean" allowAnonymous="true" defaultValue="True" serializeAs="String" />
          <add name="CreateDate" type="System.DateTime" allowAnonymous="true" defaultValue="System.DateTime.Now" serializeAs="String" />
          <add name="Active" type="System.Boolean" allowAnonymous="true" defaultValue="False" serializeAs="String" />
          <add name="AlreadyContact" type="System.Boolean" allowAnonymous="true" defaultValue="False" serializeAs="String" />
          <add name="LastUpdated" type="System.DateTime" allowAnonymous="true" serializeAs="String" />
        </group>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!-- This will fix MAC error
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" />-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET" />
      </controls>
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="System.IO" />
        <add namespace="System.Data" />
        <add namespace="System.Data.SqlClient" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2000000" maxQueryStringLength="102400" />
    <customErrors mode="Off">
      <error statusCode="403" redirect="~/publicArea/errorpages/Error403.aspx" />
      <error statusCode="404" redirect="~/publicArea/errorpages/Error404.aspx" />
      <error statusCode="500" redirect="~/publicArea/errorpages/Error404.aspx" />
    </customErrors>
    <machineKey validationKey="9A6DC7F4FCC02F6AD57CE22D11073C7F6E3B6B45304228E6F51DC563CBEBD40E6B5598E22A8E8FA089A6E32497BF818BA98E95A3571421FC250420453BA6467A" decryptionKey="39428AFF4A6CB56FD881ABAA6A630C2053661BAACFE5ED60" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>-->
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <!-- full url when responsemode is Redirect -->
      <error statusCode="401" path="~/publicArea/errorpages/Error403.aspx" responseMode="Redirect" />
      <!-- local relative path when responsemode is ExecuteURL -->
      <error statusCode="403" path="~/publicArea/errorpages/Error403.aspx" responseMode="ExecuteURL" />
      <!--<error statusCode="404" path="~/publicArea/errorpages/Error404.aspx" responseMode="ExecuteURL" />-->
      <error statusCode="500" path="/somedir/500.asp" responseMode="ExecuteURL" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="info@teachinvietnam.org">
        <network host="123.30.187.4" port="25"
                 userName="info@teachinvietnam.org"
                 password="QuyenQuyen@"
                 defaultCredentials="true" />
      </smtp>-->
      <smtp deliveryMethod="Network" from="bookworm6289@gmail.com">
        <network host="smtp.gmail.com" port="25" userName="bookworm6289@gmail.com" password="qwerty62" enableSsl="true" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<rewriter>
    <rewrite url="~/TeachingJobs/(.+)-(.+).htm" to="~/publicArea/JobDetails.aspx?jid=$2"/>
  </rewriter>-->
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>