<?xml version="1.0"?>
<configuration>
    <system.web>

    </system.web>
  <!--<location path="Detail.aspx">
    <system.web>
      --><!--<authentication mode="Windows">
        <forms loginUrl="~/Account/Login.aspx?r=e" />
      </authentication>--><!--
      <authorization>
        <allow roles="Employee" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="UpdateCV.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
