a
{
    text-decoration: none;
}

#content
{
    background: url(img/shadow.png) repeat-y 43px 0;
    position: relative;
}

body
{
    background: #dbdbdb url(img/bg.jpg) repeat center 0 fixed;
}
.literalNotification
{
    color: Red;
    padding: 3px 3px 3px 3px;
    font-family: Sans-Serif;
    font-size: small;
    line-height:18px;
}
.lastupdatediv
{
    position:absolute;top:0px;right:5px;
}
.lastupdate
{
    color:#036507;
    padding: 3px 3px 3px 3px;
    font-family:Calibri;
    line-height:18px;
}
/* @group general */
.maxheight
{
    max-height: 200px;
    max-width: 200px;
}
.section
{
    background: #f3f3f3 url(img/curriculum_bg.png) repeat-x 0 bottom;
    border-top: 1px solid #fffeff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_title h2
{
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.section_list
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.section_list li
{
    margin-top: 5px;
    margin-left: 80px;
    width: 610px;
}
.section table
{
    margin: 5px 5px 25px 5px;
    width: 770px;
}
.section td
{
    border: 1px solid #8db34c;
}
.col1
{
    width: 35%;
    text-align: right;
}
.section_list p
{
}

li.section_content
{
    position: relative;
    font-family:Calibri;
    
    
}

/* @group date */

.section_content div.date
{
    width: 120px;
    height: 50px;
    display: block;
    float: left;
    position: absolute;
    right: -104px;
    top: -70px;
    background-position: 245px 135px;
}



/* @end */



/* @end */

/* @group font */


h1, h2, h3, h4, h5, h6, p, span
{
    letter-spacing: -1px;
}

h1
{
    color: #fff;
    line-height: 60px;
    font-size: 60px;
    letter-spacing: -5px;
    font-style: italic;
    text-shadow: #000000 0 0 0;
}

h2
{
    line-height: 35px;
    font-size: 30px;
}

h3
{
    line-height: 31px;
    font-size: 26px;
    letter-spacing: -2px;
    font-style: italic;
}

h4
{
    line-height: 26px;
    font-size: 18px;
    display: inline-block;
}
.h4tag
{
    line-height: 36px;
    font-size: 14px;
    display: inline-block;
    font-style: normal;
    font-family: Arial;
    font-weight: 500;
    color: #047790;
}
h5
{
    color: black;
    line-height: 22px;
    font-size: 20px;
    display: inline-block;
}

h6
{
    color: #fff;
    line-height: 31px;
    font-size: 26px;
    letter-spacing: -2px;
}

p
{
    color: #a4a6a6;
    letter-spacing: 0px;
    line-height: 20px;
    word-spacing: 1px;
    font: normal normal lighter 16px/28px Helvetica Neue, sans-serif;
    letter-spacing: 0px;
    word-spacing: 3px;
}

.section_content div.date span
{
    font: 24px Helvetica, arial, serif;
    color: #fff;
    display: block;
    float: left;
    width: 107px;
    height: 30px;
    text-align: right;
    padding-top: 3px;
    line-height: 20px;
}


#title_center ul li h4, #title_dx ul li p
{
    font: 200 26px/30px Helvetica, Geneva, sans-serif;
    letter-spacing: -1px;
    word-spacing: 0px;
}

#title_dx p.p_big
{
    font-size: 22px;
    line-height: 30px;
    width: 100%;
    height: 200%;
    display: inline-block;
    overflow: hidden;
    font-family:Calibri;
    color:Black;
}

input, textarea
{
    font-family:Calibri;
    font-size:14px;
    line-height: 20px;
    font-weight: lighter;
}
/* @end */

/* @group header */

#header
{
    text-align: left;
    height: 100px;
    background-repeat: repeat-x;
    background-position: 0 0px;
}

#header ul
{
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#header ul li
{
    display: block;
    float: left;
    width: 100%;
    margin: 0px;
}

#header ul li#bigtitle
{
    height: 60px;
}

#header ul li#subtitle
{
    text-align: left;
    margin-bottom: 20px;
}



/* @end */

/* @group title */
.maxheight220
{
    max-height: 200px;
    max-width: 200px;
}
.maxheightCV125
{
    max-height: 125px;
    max-width: 200px;
}
#photo
{
    width: 220px;
    height: auto;
    display: block;
    float: left;
    background: #fcfeff;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 1px 3px #ababab;
    -moz-box-shadow: 0px 1px 3px #ababab;
    box-shadow: 0px 1px 3px #ababab;
    behavior: url(css/PIE.htc);
}

#photo img
{
    margin: 10px;
}

#title ul
{
    margin-top: 26px;
}


#title_center ul li, #title_dx ul li
{
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 7px;
}

#title_dx ul li
{
    height: 27px;
    margin-top: 6px;
    padding-top: 4px;
}

#title_center
{
    text-align: right;
}



/* @end */

/* @group contact */

.contact_sx
{
    margin-top: 20px;
}

.contact_sx li
{
    width: 294px;
    margin-left: 80px;
    display: block;
    float: left;
    height: 50px;
    padding: 1px;
}

.contact_sx li h4
{
    display: inline;
    float: left;
    height: 40px;
    width: 65px;
    text-align: left;
    margin-right: 10px;
    line-height: 45px;
}

#contact li div.border
{
    background-color: #fff;
    display: block;
    float: left;
    padding: 2px;
}

.contact_sx li input, .contact_dx li textarea
{
    display: inline;
    float: left;
    height: 20px;
    width: 194px;
    background-color: #ececec;
    padding: 6px;
    border: 1px solid #d9dbdd;
}

.contact_dx li textarea
{
    height: 168px;
    width: 274px;
    padding: 10px;
}

.contact_sx li input:focus, .contact_dx li textarea:focus
{
    background-color: #fff;
}

.contact_sx #invia
{
    height: 35px;
    width: 211px;
    border-style: none;
    background-repeat: no-repeat;
    background-position: -14px -180px;
    cursor: pointer;
}
.btn
{
    height: 35px;
    width: 211px;
    border-style: none;
    background-repeat: no-repeat;
    background-position: -14px -180px;
    cursor: pointer;
}
.contact_sx #invia:active
{
    background-position: -14px -220px;
}

.section_content
{
    padding-top: 10px;
    position: relative;
}

.contact_dx li
{
    padding-top: 20px;
}

.loader
{
    background-image: url(loader.gif);
}

/* @end */

/* @group social */

#social
{
    display: block;
    float: left;
    width: 50px;
    position: absolute;
    top: 0px;
    left: 65px;
    padding-top: 290px;
}

#social ul
{
    padding: 0;
    display: block;
    float: left;
}

#social ul li
{
    display: block;
    float: left;
    width: 50px;
    height: 31px;
    background-position: -241px -240px;
}

#social ul li#social_top
{
    height: 9px;
    background-position: -241px 189px;
}

#social ul li#social_bottom
{
    height: 20px;
    background-position: -241px 61px;
}

#social ul li img
{
    margin-left: 12px;
}

/* @group social_button */

#social_button
{
    display: block;
    float: left;
    position: absolute;
    top: -230px;
    right: -12px;
    width: 152px;
    height: 60px;
    padding-left: 50px;
    padding-top: 8px;
    background-position: 1px 75px;
}

/* @end */



/* @end */

/* @group footer */

#footer
{
    height: 10px;
    background-repeat: repeat-x;
    background-position: 0 -150px;
}

.summaryerror
{
    padding:20px;
    height:auto;
}

/* @end */

#risposta
{
    width: 280px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(css/PIE.htc);
    margin-left: 80px;
    text-align: left;
    padding:0px 20px;
    height:auto;
    background: #fff;
}

#risposta p
{
    color: #754f09;
    font-size: 19px;
    background-color: #faad21;
    margin-left: 30px;
    font-style: italic;
    line-height: 24px;
}

#risposta p b
{
    margin-left: -20px;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
}




#color_menu
{
    display: block;
    float: left;
    font-size: 15px;
    z-index: 666;
    width: 83%;
    border-bottom: 1px solid #232424;
    text-shadow: #323232 0 0 0;
    border-top: 1px solid #232424;
    background: #2e2e2e url(img/choose-color.png) no-repeat 0 1px;
    padding-left: 17%;
    height: 31px;
    padding-top: 4px;
}

#color_menu a
{
    width: 16px;
    height: 16px;
    display: inline;
    float: left;
    margin: 5px;
    text-shadow: #3f4040 0 0 0;
    border: 1px solid #232424;
    -webkit-box-shadow: 0px 1px 1px #3f4040;
    -moz-box-shadow: 0px 1px 1px #3f4040;
    box-shadow: 0px 1px 3px #3f4040;
    behavior: url(css/PIE.htc);
}

#color_menu a:hover
{
    -webkit-box-shadow: 0px 0px 4px #7a7c7c;
    text-shadow: #7a7c7c 0 0 0;
}

/* @group color */

#color_menu a#black
{
    background-color: #303030;
}
#color_menu a#magenta
{
    background-color: #be005e;
}
#color_menu a#grey
{
    background-color: #5a5b5b;
}
#color_menu a#sky
{
    background-color: #3380AB;
}
#color_menu a#dark
{
    background-color: #465366;
}
#color_menu a#light
{
    background-color: #7388A6;
}
#color_menu a#violet
{
    background-color: #55507A;
}
#color_menu a#blue
{
    background-color: #13478F;
}
#color_menu a#lime
{
    background-color: #70A01F;
}
#color_menu a#lobster
{
    background-color: #AE2E0B;
}
#color_menu a#olive
{
    background-color: #0B4F00;
}
#color_menu a#orange
{
    background-color: #B46805;
}
#color_menu a#red
{
    background-color: #980000;
}



/* @end */

.alignright
{
    text-align: right;
    padding-right: 10px;
}
.floatright
{
    float:right;
    padding-right:20px;
    z-index:1000;
}
a:hover
{
    text-decoration: underline;
}
.modalBackground
{
    background-color: #CCCCFF;
    filter: alpha(opacity=40);
    opacity: 0.5;
}
.ModalWindow
{
    border: solid1 px #c0c0c0;
    background: white;
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: -1000px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.popup
{
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    clear: none;
    font-family: 'Century Gothic' , 'Gill Sans MT' , Arial, sans-serif;
    font-variant: normal;
    margin-bottom: 1em;
}
.standard-button
{
    text-align: center;
    border: 0;
    font-size: 1.6em;
    font-family: Calibri; /*line-height: 1.6em;*/
    line-height: 20px;
    padding: 5px 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #222222 !important;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #aaa;
    border: 0px solid #ccc;
}
.standard-button::-moz-focus-inner
{
    border: 0;
    padding: 0;
    margin: 0;
}
.standard-button:hover
{
    background-image: none;
    background-color: #bbb;
    cursor: pointer;
}

.standard-button.dark, .standard-button.contrast, .standard-button.green, .standard-button.orange
{
    color: #fff !important;
    text-decoration: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

.standard-button.dark
{
    background: url(../images/sitefiles/gradient-dark.png) repeat-x bottom center #b2b2b2;
    background: -moz-linear-gradient(top, #b2b2b2 0%, #a0a0a0 50%, #949494 51%, #8c8c8c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(50%,#a0a0a0), color-stop(51%,#949494), color-stop(100%,#8c8c8c)); /* Chrome,Safari4+ */
    background: linear-gradient(top, #b2b2b2 0%,#a0a0a0 50%,#949494 51%,#8c8c8c 100%); /* W3C */
    border: 1px solid #949494;
    -moz-box-shadow: 0 1px 0 0 #949494 inset;
    -webkit-box-shadow: 0 1px 0 0 #949494 inset;
    box-shadow: 0 1px 0 0 #949494 inset;
}
.standard-button.dark:hover
{
    background-image: none;
    background-color: #b2b2b2;
    cursor: pointer;
}

.standard-button.orange
{
    background: #ff820b;
}

.orangeButton
{
    background: #ff810a;
}
.standard-button.orange:hover
{
    background-image: none;
    background-color: #3eb365;
    cursor: pointer;
}

.standard-button.contrast
{
    background: url(../images/sitefiles/gradient-contrast.png) repeat-x bottom center #f26b4e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f58b70), color-stop(50%,#f26b4e), color-stop(51%,#ee573c), color-stop(100%,#eb4b32)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #f58b70 0%, #f26b4e 50%, #ee573c 51%, #eb4b32 100%); /* FF3.6+ */
    background: linear-gradient(top, #f58b70 0%,#f26b4e 50%,#ee573c 51%,#eb4b32 100%); /* W3C */
    border: 1px solid #e63c27;
    -moz-box-shadow: 0 1px 0 0 #fac1b3 inset;
    -webkit-box-shadow: 0 1px 0 0 #fac1b3 inset;
    box-shadow: 0 1px 0 0 #fac1b3 inset;
}

.standard-button.contrast:hover
{
    background-image: none;
    background-color: #e63c27;
    cursor: pointer;
}

.standard-button.green
{
    background: url(../images/sitefiles/gradients/gradient-green.png) repeat-x bottom center #008484;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aeae), color-stop(50%,#009a9a), color-stop(51%,#008585), color-stop(100%,#007a7a)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #00aeae 0%, #009a9a 50%, #008585 51%, #007a7a 100%); /* FF3.6+ */
    background: linear-gradient(top, #00aeae 0%,#009a9a 50%,#008585 51%,#007a7a 100%); /* W3C */
    border: 1px solid #007f7f;
    -moz-box-shadow: 0 1px 0 0 #cefcfc inset;
    -webkit-box-shadow: 0 1px 0 0 #cefcfc inset;
    box-shadow: 0 1px 0 0 #cefcfc inset;
}

.standard-button.green:hover
{
    background-image: none;
    background-color: #027878;
    cursor: pointer;
}

.standard-button.large
{
    font-size: 1.8em;
    padding: 10px 30px;
}
.standard-button.small
{
    font-size: 14px;
    padding: 4px 15px;
}

.standard-button.tiny
{
    font-size: 11px;
    padding: 3px 10px;
}

.standard-button span.icon
{
    display: block;
    width: 20px;
    height: 20px;
    background-color: #e7e7e7;
    position: absolute;
    margin-right: 10px;
    padding: 0;
    left: 7px;
    top: 7px;
    z-index: 100;
}

.closeButton
{
    position: absolute;
    top: 5px;
    right: 15px;
    background: url(../../images/icons/close.png) no-repeat;
    background-repeat: no-repeat;
    width: 27px;
    height: 25px;
}

.closeButton a
{
    text-decoration:none;
}

.closeButton:hover
{
    background: url(../../images/icons/close_hover.png) no-repeat;
    text-decoration:none;
}
.fontsize12
{
    font-size:12px;   
}
.showRemain{color:Gray}