@model tjadmin.Models.tbl_Job_JobLevel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_Job_JobLevel</legend>

    <div class="display-label">jrName_en</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jrName_en)
    </div>

    <div class="display-label">jrName_vi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jrName_vi)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.jrId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
