#comment{ font-size:11px;}
#comment img{border:0}
#comment td{font-size:small}
#comment .classatag{color:#235;text-decoration:none}
#comment .post{border:1px solid #CCC;border-bottom-width:2px;border-right-width:2px;margin-bottom:10px;padding:4px}
#comment .post h5,.post h2{font-size:1.4em;margin:0}
#comment .post .postfoot{color:#AAA;border-top:1px solid #DDD;font-size:.9em;height:17px;margin:10px 0 0}
#comment .post .postfoot a{color:#AAA;font-size:.9em}
#comment .post .postfoot .commentusername{font-size:1em;color:Black;}
#comment img.avatar{float:left;width:50px;border:0;display:block;padding:5px}