
/* FOOTER ================================================================================ */
footer { width:1000px; margin:0 auto; border:none; padding: 0;background:#7A6A53; }
footer a {color:#fff; text-decoration:none;}
footer a:hover {color:#fff; text-decoration: underline;}
footer ul{ margin:0; padding: 0; list-style:none; }

.footer ul {}
.footer ul li { display:inline; }
.footer-container .bottom-container { text-align:center; }

.informative {position: relative; padding: 0; margin: 0;}
.footer-links {float:left; margin:10px 30px; text-align:left;}
.footer-links li{float:left; width:155px; text-align:left;}
.footer-links li .th{color:#fff; display: block; margin: 0 0 :12; font-size:12px; text-transform:uppercase; font-weight:bold;}
.footer-links li li{line-height: 20px;}
.footer-links ul.footer-social {}
.footer-links ul.footer-social li{line-height: 28px;}
.footer-links ul.footer-social a{padding-left: 30px;}
.footer-links ul.footer-social a.twitter{ background: url('../images/footer/icon_f_twitter.png') 0% 50% no-repeat; }
.footer-links ul.footer-social a.facebook{background: url('../images/footer/icon_f_facebook.png') 0% 50% no-repeat; }
.footer-links ul.footer-social a.email{background: url('../images/footer/icon_f_mail.png') 0% 50% no-repeat; }
.footer-links ul.footer-social a.google{background: url('../images/footer/icon_f_google.png') 0% 50% no-repeat; }
address {background:url('../images/footer/f_border.png') 0% 0% repeat-x; padding: 5px 0; margin:0; text-align:center}
.textlinkfooter{ color:#fff; margin:0; padding:0;font-size:12px}