@model tjadmin.Models.tbl_Job_Location

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_Job_Location</legend>

    <div class="display-label">lName_en</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lName_en)
    </div>

    <div class="display-label">lName_vi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lName_vi)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
