<?xml version="1.0"?>
<configuration>

  <location path="AdsAJob.aspx">
    <system.web>
      <authorization>
        <allow roles="Organization"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AdsCV.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ContactEmployer.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ContactWithoutLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="finish-apply.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="AppManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ManageSavedJob.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CV/JobAlert.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <authorization>
      <allow roles="admin, Organization, Employee"/>
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>
